@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';
@import './base.css';
@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
}

@keyframes pokemon-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.bounce {
  animation: pokemon-bounce 0.15s linear 3;
}
